<?xml version="1.0" encoding="UTF-8"?>
	<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<!-- 1.配置注解的自动扫描的范围 -->
	<context:component-scan base-package="cn.itcast.elec">
	</context:component-scan>
	
	<!-- 配置连接池 -->
	<!-- 引入外部文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource"  class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />	 
	</bean>
	
	<!-- 配置hibernate相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
			 <property name="dataSource"  ref="dataSource"></property>
			 <property name="hibernateProperties">
			 		<props>
						 	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
							<prop key="hibernate.show_sql">true</prop>
							<prop key="hibernate.format_sql">true</prop>
							<prop key="hibernate.connection.autocommit">true</prop>
							<prop key="hibernate.hbm2ddl.auto">update</prop>
			 		</props> 
			 </property>
			 <!-- 配置hibernate映射文件 --> 
			 <property name="mappingResources">
			 		<list>
			 				<value>cn/itcast/elec/domain/ElecText.hbm.xml</value>
			 				<value>cn/itcast/elec/domain/ElecCommonMsg.hbm.xml</value>
			 				<value>cn/itcast/elec/domain/ElecSystemDDL.hbm.xml</value>
			 				<value>cn/itcast/elec/domain/ElecUser.hbm.xml</value>
			 				<value>cn/itcast/elec/domain/ElecRolePopedom.hbm.xml</value>
			 				<value>cn/itcast/elec/domain/ElecUserRole.hbm.xml</value>
			 		</list>
			 </property>
	</bean>	
		
		<!--事务管理：-->
		<!-- 事务管理器 -->
		<bean  id="transactionManager"  class="org.springframework.orm.hibernate3.HibernateTransactionManager">
				<property name="sessionFactory"  ref="sessionFactory">
				</property>
		</bean>
		
		<!-- 开启注解事务 -->
		<tx:annotation-driven transaction-manager="transactionManager"/>
		
		<!-- 下面全部用注解代替 -->
		
		<!-- Acction的配置 -->

		
		<!-- Service的配置 -->

			
		<!-- Dao的配置-->
		
</beans>

